:root {
    --dark-primary: rgb(36, 41, 46);
    --dark-primary-hover: rgba(36, 41, 46, 0.6);

    --dark-second: #363e45;

    --dark-accent: #0d74e7;
    --dark-accent-hover: #0d73e7af;

    --dark-light: #fafbfc;
    --dark-overlay: rgba(0, 0, 0, 0.5);
}

[data-color-theme='dark'] {
    --bg-base: var(--dark-primary);
    --bg-base-hover: var(--dark-primary-hover);

    --bg-second: var(--dark-second);

    --color-text: var(--dark-light);
    --color-accent: var(--dark-accent);
    --color-overlay: var(--dark-overlay);
}
