:root {
    --light-primary: #f9f7f7;
    --light-primary-hover: rgb(249, 247, 247, 0.6);
    --light-second: #dbe2ef;
    --light-accent: #3f72af;
    --light-dark: #112d4e;
    --light-overlay: rgba(255, 255, 255, 0.5);
}

[data-color-theme='light'] {
    --bg-base: var(--light-primary);
    --bg-base-hover: var(--light-primary-hover);

    --bg-second: var(--light-second);

    --color-text: var(--light-dark);
    --color-accent: var(--light-accent);
    --color-overlay: var(--light-overlay);
}
