@import './themes/dark';
@import './themes/light';
@import './vars';

@font-face {
    font-family: 'K2D';
    src:
        url('../fonts/k2d.woff2') format('woff2'),
        url('../fonts/k2d.woff') format('woff');
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    height: 50vh;
    /* height: calc(var(--vh, 1vh) * 100); */

    background-color: var(--bg-base);
    transition: background-color 0.4s ease-in-out;
}

@supports (height: 100dvh) {
    body {
        height: 100dvh;
    }
}

.no-transition {
    transition: none;
}

[disabled] {
    cursor: not-allowed;
}
