@import './fonts/k2d.css';
@import './themes/dark';
@import './themes/light';
@import './vars';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: sans-serif;
    margin: 0;

    background-color: var(--bg-base);
    transition: background-color var(--transition-short) ease-in-out;
}

#app {
    height: inherit;
}

.no-transition {
    transition: none;
}

[disabled] {
    cursor: not-allowed;
}
