@import './fonts.css';
@import './themes/dark';
@import './themes/light';
@import './reset';
@import './vars';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-base);
    margin: 0;
    height: 98vh;

    background-color: var(--bg-base);
    transition: background-color var(--transition-short) ease-in-out;

    overflow: hidden;
    position: relative;
}

body::after {
    content: '';
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: -100px;
    left: 0;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color var(--transition-short) ease-in-out;
}

body[data-overlay='true']::after {
    background-color: var(--color-overlay);
}

@supports (height: calc(98dvh)) {
    body {
        height: calc(98dvh);
    }
}

#app {
    height: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.no-transition {
    transition: none;
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}
