:root {
    --container-width: 1240px;

    --gap-base: 18px;
    --gap-small: 6px;

    --offset-base: 12px;
    --offset-small: 8px;

    --b-radius-base: 6px;

    --font-size-text: 16px;
    --font-size-sidebar: 18px;
    --font-size-title: 24px;

    --transition-short: 0.4s;
    --transition-base: 0.5s;

    --side-bar-width: 300px;
}

:root {
    @media (max-width: 1024px) {
        --side-bar-width: 240px;
    }
}

:root {
    @media (max-width: 768px) {
        --gap-base: 12px;
        --offset-base: 8px;
        --b-radius-base: 4px;

        --font-size-text: 14px;
        --font-size-sidebar: 16px;
        --font-size-title: 18px;

        --side-bar-width: 100%;
    }
}

:root {
    @media (max-height: 500px) and (orientation: landscape) {
        --gap-base: 6px;
        --offset-small: 4px;
    }
}
